In [4]:
#Fills the 0s in availability_365 with the average among their neighbourhood

import numpy as np
import pandas as pd

In [7]:
data = pd.read_csv("data_enhanced.csv")

In [45]:
#data.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,review,rate
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365,NaN,0.00
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355,NaN,0.00
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365,NaN,0.00
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194,NaN,0.00
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0,Luna was very accommodating and extremely help...,4.67

In [56]:

nbhds=pd.get_dummies(data["neighbourhood"])

mean=data.groupby('neighbourhood').mean()

avail = data["availability_365"].tolist()

for i, val in enumerate(avail):
    if val==0:
        inbhd=data.iloc[i,5]
        value = mean.at[inbhd, "availability_365"]
        avail[i]=value
        
avail

[365,
 355,
 365,
 194,
 98.97314234556849,
 129,
 116.63462574044158,
 220,
 96.58346017250126,
 188,
 6,
 39,
 314,
 333,
 85.45963541666667,
 46,
 321,
 12,
 21,
 249,
 74.72270408163266,
 347,
 364,
 304,
 233,
 85,
 98.54761904761905,
 75,
 311,
 67,
 355,
 255,
 284,
 359,
 269,
 340,
 365,
 22,
 365,
 188,
 96,
 345,
 311,
 273,
 309,
 95,
 215,
 265,
 116.63462574044158,
 192,
 251,
 302,
 140,
 234,
 257,
 30,
 301,
 294,
 320,
 154,
 263,
 180,
 231,
 297,
 292,
 191,
 88.78656126482214,
 72,
 362,
 336,
 215,
 116,
 88,
 336,
 304,
 224,
 322,
 324,
 132,
 295,
 238,
 209,
 328,
 38,
 188,
 7,
 272,
 26,
 74.62385321100918,
 288,
 317,
 207,
 185,
 158,
 74.72270408163266,
 9,
 198,
 365,
 364,
 311,
 219,
 342,
 312,
 243,
 152,
 9,
 137,
 222,
 346,
 208,
 279,
 250,
 164,
 192,
 298,
 260,
 107,
 199,
 299,
 20,
 318,
 216,
 224,
 74.62385321100918,
 324,
 245,
 189,
 307,
 310,
 213,
 278,
 209,
 79.07713004484305,
 16,
 234,
 12,
 178,
 275,
 163,
 365,
 34,
 280,
 63.21212121212121,
 1,
 170,
 188,
 214,
 248,
 262,
 280,
 307,
 339,
 1,
 269,
 10,
 312,
 189,
 290,
 230,
 164,
 53,
 126,
 3,
 189,
 365,
 122.7165991902834,
 106.57750188111362,
 336,
 342,
 312,
 37,
 353,
 177,
 310,
 191.53629032258064,
 321,
 246,
 231,
 225,
 106.57750188111362,
 90.14928425357873,
 365,
 233,
 1,
 18,
 343,
 250,
 326,
 364,
 113.99550763701707,
 299,
 207,
 162,
 112.79810901001112,
 7,
 328,
 365,
 138.8467824310521,
 116.63462574044158,
 240,
 365,
 365,
 164,
 363,
 365,
 250,
 247,
 323,
 192,
 125,
 91,
 75,
 286,
 60,
 90.14928425357873,
 192,
 58,
 245,
 292,
 279,
 74.62385321100918,
 3,
 351,
 201,
 232,
 258,
 272,
 341,
 244,
 365,
 12,
 265,
 157.70355987055015,
 329,
 91,
 365,
 253,
 365,
 320,
 96.58346017250126,
 192,
 100.33884297520662,
 348,
 106.57750188111362,
 353,
 140,
 2,
 56,
 68,
 360,
 209.42857142857142,
 320,
 326,
 76,
 279,
 15,
 340,
 226,
 365,
 88.78656126482214,
 349,
 365,
 11,
 316,
 281,
 323,
 362,
 74.62385321100918,
 301,
 189,
 96.02046035805627,
 287,
 14,
 86,
 261,
 68,
 74.72270408163266,
 231,
 152,
 46,
 364,
 246,
 288,
 331,
 51,
 364,
 254,
 189,
 263,
 258,
 103,
 42,
 246,
 364,
 318,
 72,
 249,
 272,
 325,
 298,
 35,
 203,
 132,
 5,
 297,
 276,
 102,
 251,
 188,
 346,
 96.58346017250126,
 15,
 71,
 215,
 253,
 78,
 257,
 79.07713004484305,
 8,
 191,
 182,
 79,
 49,
 77.27118644067797,
 156,
 343,
 200,
 60,
 60,
 189,
 60,
 66.03896103896103,
 106,
 276,
 248,
 194,
 135,
 30,
 74.62385321100918,
 81,
 96.02046035805627,
 142,
 60,
 179,
 52,
 365,
 324,
 237,
 365,
 365,
 204,
 272,
 74.72270408163266,
 9,
 365,
 181,
 189,
 98.97314234556849,
 189,
 296,
 88,
 35,
 74.72270408163266,
 35,
 359,
 60,
 365,
 335,
 282,
 247,
 102,
 274,
 201,
 98,
 157,
 106.57750188111362,
 312,
 331,
 275,
 174,
 223,
 361,
 157.70355987055015,
 283,
 220,
 363,
 315,
 281,
 283,
 20,
 74.62385321100918,
 331,
 36,
 7,
 301,
 170,
 307,
 365,
 201,
 96.58346017250126,
 316,
 271,
 139,
 209,
 85.45963541666667,
 74.72270408163266,
 193,
 52,
 136,
 286,
 113.99550763701707,
 18,
 9,
 3,
 277,
 96.02046035805627,
 233,
 221,
 355,
 69.81027667984189,
 277,
 74.62385321100918,
 343,
 74.62385321100918,
 74.72270408163266,
 113.99550763701707,
 96.58346017250126,
 188,
 264,
 82.05102040816327,
 331,
 236,
 112.79810901001112,
 309,
 97.16575192096597,
 245,
 74.72270408163266,
 8,
 359,
 333,
 258,
 236,
 22,
 236,
 365,
 89,
 164,
 311,
 23,
 365,
 79.07713004484305,
 222,
 238,
 218,
 113.99550763701707,
 96.58346017250126,
 235,
 246,
 74.72270408163266,
 247,
 15,
 119,
 74.72270408163266,
 234,
 257,
 350,
 221,
 71.6695278969957,
 201,
 161,
 259,
 95.55091277890466,
 222,
 71.6695278969957,
 76,
 88.78656126482214,
 258,
 14,
 27,
 167,
 68,
 358,
 59,
 116.63462574044158,
 232,
 15,
 130.19117647058823,
 98.97314234556849,
 161,
 88,
 337,
 247,
 248,
 287,
 304,
 95.55091277890466,
 96.58346017250126,
 193,
 43,
 25,
 127,
 113.99550763701707,
 303,
 345,
 115,
 200,
 271,
 12,
 268,
 89,
 347,
 37,
 74.72270408163266,
 359,
 287,
 113.99550763701707,
 233,
 129,
 74.62385321100918,
 353,
 365,
 297,
 56,
 44,
 355,
 156,
 273,
 274,
 258,
 276,
 65,
 113.99550763701707,
 180,
 343,
 43,
 96,
 59,
 255,
 252,
 88.78656126482214,
 20,
 188,
 304,
 38,
 254,
 112.79810901001112,
 46,
 328,
 116.63462574044158,
 112.79810901001112,
 199,
 249,
 64,
 111,
 287,
 286,
 263,
 276,
 90.14928425357873,
 263,
 90,
 74.72270408163266,
 11,
 287,
 1,
 74.62385321100918,
 338,
 44,
 122.7165991902834,
 5,
 97.16575192096597,
 158,
 192,
 358,
 31,
 241,
 285,
 183,
 189,
 162,
 158,
 84,
 260,
 116.63462574044158,
 166,
 101.82051282051282,
 335,
 90,
 342,
 28,
 363,
 86,
 83,
 77.27118644067797,
 157.70355987055015,
 264,
 305,
 356,
 278,
 135,
 308,
 229,
 273,
 83,
 281,
 321,
 303,
 192,
 106.64102564102564,
 36,
 271,
 341,
 333,
 210,
 231,
 308,
 292,
 311,
 264,
 153,
 219,
 83.7605633802817,
 332,
 120,
 191,
 248,
 67,
 74.62385321100918,
 325,
 249,
 90.7961956521739,
 313,
 97.16575192096597,
 12,
 69,
 95.11028037383177,
 293,
 363,
 4,
 257,
 362,
 74.72270408163266,
 365,
 102,
 26,
 302,
 280,
 302,
 281,
 94.5266272189349,
 297,
 246,
 60,
 296,
 85.45963541666667,
 364,
 281,
 74.72270408163266,
 96.02046035805627,
 90.7961956521739,
 365,
 365,
 249,
 303,
 300,
 323,
 98.97314234556849,
 204,
 60,
 84,
 60,
 303,
 261,
 106.57750188111362,
 60,
 60,
 60,
 56,
 84,
 58,
 60,
 60,
 81,
 365,
 60,
 95.01398601398601,
 297,
 91,
 315,
 338,
 40,
 361,
 288,
 218,
 1,
 117,
 95.01398601398601,
 204,
 225.97368421052633,
 20,
 113.99550763701707,
 106.57750188111362,
 333,
 189,
 353,
 90.14928425357873,
 206,
 1,
 85.45963541666667,
 307,
 113.99550763701707,
 85.45963541666667,
 27,
 27,
 348,
 246,
 15,
 74.62385321100918,
 5,
 74.72270408163266,
 125.70798898071625,
 107,
 144,
 98,
 168.4962962962963,
 201.87152777777777,
 112.79810901001112,
 89,
 354,
 286,
 252,
 189,
 113.99550763701707,
 271,
 100.33884297520662,
 191.53629032258064,
 133.56603773584905,
 337,
 347,
 127,
 41,
 74.72270408163266,
 18,
 158,
 270,
 88,
 306,
 216,
 16,
 365,
 365,
 312,
 33,
 116.63462574044158,
 365,
 27,
 300,
 216,
 365,
 303,
 90.14928425357873,
 161,
 297,
 98.97314234556849,
 50,
 28,
 317,
 275,
 80,
 365,
 340,
 97,
 365,
 314,
 95.11028037383177,
 339,
 109.19111111111111,
 35,
 96.02046035805627,
 365,
 257,
 5,
 96.02046035805627,
 85.45963541666667,
 79.07713004484305,
 304,
 286,
 90.7961956521739,
 118,
 265,
 303,
 168.4962962962963,
 125,
 354,
 6,
 138.8467824310521,
 80,
 134,
 74.62385321100918,
 364,
 95.55091277890466,
 297,
 106.57750188111362,
 43,
 10,
 116.63462574044158,
 189,
 17,
 289,
 305,
 74.62385321100918,
 71.6695278969957,
 220,
 85.45963541666667,
 110.35754189944134,
 362,
 121,
 153,
 205,
 310,
 109.19111111111111,
 236,
 200,
 74,
 96.02046035805627,
 106.57750188111362,
 12,
 84,
 109.19111111111111,
 84,
 96.58346017250126,
 56,
 62,
 81,
 74.72270408163266,
 310,
 60,
 74.72270408163266,
 74.72270408163266,
 74.72270408163266,
 29,
 264,
 341,
 96.02046035805627,
 116.63462574044158,
 74.72270408163266,
 90.14928425357873,
 363,
 25,
 116.63462574044158,
 358,
 112.79810901001112,
 109,
 289,
 188,
 260,
 168,
 98.97314234556849,
 311,
 146,
 2,
 242,
 90.14928425357873,
 46,
 365,
 364,
 352,
 301,
 322,
 298,
 285,
 342,
 250,
 326,
 90,
 289,
 193,
 293,
 155,
 189,
 248,
 238,
 284,
 343,
 268,
 249,
 291,
 74.72270408163266,
 94.5266272189349,
 31,
 74.72270408163266,
 79,
 85.45963541666667,
 157,
 277,
 353,
 74.72270408163266,
 280,
 7,
 266,
 74.62385321100918,
 271,
 101,
 205,
 343,
 94.48470209339774,
 190,
 310,
 52,
 312,
 74.72270408163266,
 329,
 333,
 327,
 349,
 217,
 96.58346017250126,
 80,
 96.58346017250126,
 351,
 362,
 144,
 43,
 365,
 129,
 123.05,
 106.64102564102564,
 82.05102040816327,
 97.16575192096597,
 355,
 74.72270408163266,
 280,
 38,
 31,
 324,
 365,
 112.79810901001112,
 171,
 36,
 332,
 96.02046035805627,
 192,
 139,
 167,
 112.79810901001112,
 10,
 365,
 110,
 88.78656126482214,
 96.02046035805627,
 242,
 22,
 77.51540616246498,
 200,
 79.07713004484305,
 87,
 202,
 226,
 96.58346017250126,
 327,
 262,
 160.53658536585365,
 359,
 348,
 98.54761904761905,
 74.72270408163266,
 318,
 363,
 70,
 157.70355987055015,
 90,
 15,
 335,
 94.5266272189349,
 177.92857142857142,
 364,
 34,
 242,
 147,
 169,
 188,
 89,
 189,
 123.05,
 253,
 311,
 74.62385321100918,
 363,
 224,
 5,
 301,
 95.55091277890466,
 50,
 296,
 84,
 365,
 212,
 181,
 74.62385321100918,
 158,
 ...]

In [58]:
#avail
data["availability_365"] = avail
data.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,review,rate
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365.000000,NaN,0.00
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355.000000,NaN,0.00
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365.000000,NaN,0.00
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194.000000,NaN,0.00
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,98.973142,Luna was very accommodating and extremely help...,4.67